h1{
    color: blue;
}

h2{
    color: #46484c;
}

p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf7;
}

li{
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
  }
  
  .item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }
  
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }
  
  .btn {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }

  /* style Article */

  .publish {
    margin-left: 20px;
  }
  
  .publish h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header{
    position:fixed;
    background-color: white;
    top:0;
    left: 0;
    right: 0;
  }

  .box {
    display: flex;
    align-items: flex-start;
    background-color: #a1d683;
  }

  .card-img-text{
    background-color: white;
    border: 0;
    border-radius: 15px;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  .card-text{
    color: green;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
  }

  .colorText{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: black;
    margin-left: 20px;
  }

  .colorTitle{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #025157;;
    margin-left: 20px;
  }

  .divBtn{
    text-align: center;
    margin-bottom: 20px;
  }

  .divBtn1{
    text-align: left;
    margin-top: 20px;
  }

  .btnWho {
    color: white;
    background-color:#025157;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }

  .btnSee {
    color: white;
    background-color:#025157;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    width: 80%;
  }

  .cardIcon{
    flex: 0 0 40px;
    margin-left: 20px;
  }

  .cardIcon > img{
    width: 70%;
  }

  .cardtext {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 19px;
      letter-spacing: -.5px;
      color: #828282;
      margin-right: 20px;
  }

  .cardH{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 20px;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

  .title-home{
    font-family: "vesterbroextrabold", "Arial", "sans-serif";
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    color: #025157;
  }

  .card-text-body{
    font-size: 28px;
    text-align: left;
    color: black;
  }

  .card-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .card-img-doble{
    background-image: url("https://getmatcha.com/wp-content/uploads/2019/05/profile-headshot-square.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 250px;
  }
  
  .card-img-float{
    position: relative;
    bottom: -220px;
    left: 120px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9da73;
  }

  .card-img-float > img{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 76%;
    width: 100%;
    display: block;
  }